body {
  font-family: "Dawning of a New Day", cursive;
  margin: 0;
  background-color: white;
  border-left: 12px solid black;
  border-right: 12px solid black;
  border-bottom: 12px solid black;
}

/* Navbar and Hamburger styling ===================================================== */

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  border-right: 15px solid black;
  background-color: black;
}

.hamburger {
  cursor: pointer;
  position: fixed;
  left: 30px;
  font-size: 25px;
}

.fa-bars {
  color: white;
}

.hamburger i:hover {
  transition: 0.3s ease;
  transform: scale(1.25);
}

header {
  font-size: 50px;
  color: white;
}

/* Side nav styling ===================================================== */

.nav-offcanvas {
  width: 300px;
  background: black;
  height: 100vh;
  position: fixed;
  overflow-x: auto;
  z-index: 2000;
  padding: 50px 0;
  top: 0;
  left: -300px;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.nav-offcanvas .close {
  position: absolute;
  right: 20px;
  top: 30px;
  outline: 0;
  opacity: 1;
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.nav-offcanvas .close i {
  font-size: 20px;
  color: lightgrey;
  text-shadow: none;
}
.nav-offcanvas .close:hover {
  transform: scale(1.2);
}
.nav-offcanvas-menu ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav-offcanvas-menu ul li a {
  color: lightgrey;
  font-size: 50px;
  font-weight: 300;
  padding: 10px 40px;
  display: block;
  text-decoration: none;
  position: relative;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.05s;
}
.nav-offcanvas-menu ul li a:hover {
  text-decoration: underline;
  transition: 0.3s ease;
  transform: scale(1.1);
}

.nav-offcanvas.open {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
}

.offcanvas-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1999;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  visibility: hidden;
  opacity: 0;
}
.offcanvas-overlay.on {
  opacity: 1;
  visibility: visible;
}

/* About me page styling  ===================================================== */

.main-content-wrapper {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding-top: 125px;
}

.about-me-P {
  font-size: 35px;
  color: black;
  font-family: "Handlee", cursive;
  width: 60%;
  font-size: 30px;
  padding: 50px;
}

.myPhoto {
  height: 80vh;
}

/* Icon styling ===================================================== */

div.icon {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

div.icon a i {
  color: lightgrey;
  font-size: 45px;
}

i:hover {
  transition: 0.3s ease;
  transform: scale(1.222);
}

/* Projects area styling ===================================================== */

.projects {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

/* Connect area styling ===================================================== */

.connect {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}



/* from content wrapper */
/* padding-top: 50px;
  background-image: url("./assets/images/book-botanical-cactus-403571.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; */
