body,
html {
  background-color: lightgrey;
  height: 100%;
  font-family: "Dawning of a New Day", cursive;
  overflow: hidden;
}

.main {
  background-color: white;
  width: 95%;
  height: 95%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

#nameHeader {
  text-align: center;
  font-size: 125px;
  padding-top: 4px;
}

ul.link-menu li {
  list-style: none;
  width: auto;
  display: inline-block;
  margin-bottom: 15px;
}

ul {
  text-align: center;
}

a {
  font-size: 50px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
}

.about-me-image {
  height: 30%;
}

p {
  font-family: 'Handlee', cursive;
}

.about-me-main {
  text-align: center;
}

.about-me-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}




